<!DOCTYPE html>
<html>
  <head>
    <title>Viewr - ADMIN INTERFACE</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid" style="padding-top: 20px;">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <% if current_user %>
              <%= render_navigation(:selected_class => "active") %>
            <% else %>
              Login first!
            <% end %>
          </div>
        </div>
        <div class="span8">
          <h1><%= @title ? "#{@title} - " : nil %><small>ADMIN INTERFACE</small></h1>
          <%= render :partial => "shared/flash_messages", :locals => {:flash => flash} %>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer style="text-align: center;">
    <br />
    <p>&copy; 2011 <a href="http://www.trdev.co.uk">Tom "kalleth" Russell</a></p>
    <p><small><a href="/tech">Technical Information</a></small></p>
    </footer>
  </body>
</html>
