<!DOCTYPE html>
<html>
<head>
  <title>Viewr - Multiplay i44 Updates Hub</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="bigger page-header">
        <h1><%= @title %> <small>i-series Information Aggregator</small></h1>
      </div>
      <div class="row">
        <div class="span10">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
    <br />
      <p>&copy; 2011 <a href="http://www.trdev.co.uk">Tom "kalleth" Russell</a></p>
      <p><small><a href="/tech">Technical Information</a></small></p>
    </footer>
  </div>
</body>
</html>
