<!DOCTYPE HTML>
<html>
  <head>
    <title>Viewr</title>
    <%= stylesheet_link_tag "exp/reset" %>
    <%= stylesheet_link_tag "exp/popup" %>
    <%= javascript_include_tag "jquery_new" %>
    <%= javascript_include_tag "functions" %>
    <%= javascript_include_tag "exp/vpop" %>
    <%= javascript_include_tag "exp/jquery.timeago" %>
    <%= javascript_include_tag "exp/jquery.tooltip" %>
    <%= javascript_include_tag "exp/strftime.js" %>
    <%= javascript_include_tag "exp/faye-browser-min" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <audio>
      <source src="/notification.wav" />
    </audio>
    <div id="header">
      <a class ="button incleft" href="http://iseries.multiplay.co.uk/" title="iSeries Homepage" target="_blank"><img id="mplogo" src="/images/mplogo.png"/></a>
      <!-- If connection problem, remove hidden class from span, if not, use hidden class.-->
      <div id="header_title">Viewr - i45<span id="status" class="hidden"> - Connection Error</span></div>
      <a class="button right" href="#" id="toggle_settings" title="Settings"><img id="cog" src="/images/cog2.png"/></a>
    </div>
    <div id="settings_container" style="display: none;">
      <div id="triangle"></div>
      <div id="settings">
        <h1>Settings</h1>
        <form id="options">
          <legend>Enabled services:</legend>
          <input type="checkbox" name="services" id="tweet_enabled" value="Twitter" checked />
          <label for="tweet_enabled">Twitter</label><br/>
          <input type="checkbox" name="services" id="news_enabled" value="Blog" checked />
          <label for="news_enabled">News Articles</label><br/>
          <input type="checkbox" name="services" id="forum_enabled" value="Forum" checked />
          <label for="forum_enabled">Forum Threads</label><br/>
          <input type="checkbox" name="services" id="tannoy_enabled" value="Tannoy" checked />
          <label for="tannoy_enabled">General Announcements</label><br/>
          <input type="checkbox" name="services" id="tourney_enabled" value="Tourney" checked />
          <label for="tourney_enabled">Tournament Announcements</label><br/>
          <legend>Notifications:</legend>
          <input type="checkbox" name="notifications" id="sounds_enabled" value="Sounds" checked />
          <label for="sounds_enabled">Enable Sounds</label><br/>
          <input type="checkbox" name="notifications" id="notifications_enabled" value="Desktop" />
          <label for="notifications_enabled">Enable Desktop Notifications</label><br/>
        </form>
        <legend>Hints:</legend>
        <ul>
          <li>Desktop notifications only supported in webkit browsers (i.e. Chrome).</li>
          <li>Hover over times to see actual posted time.</li>
          <li>Do not refresh the page, it will update automatically.</li>
          <li>Technical information &amp; Libraries used can be found <a href="/tech" target="_blank">here</a></li>
        </ul>
        <div id="credit">Design by <a href="http://www.twitter.com/cosmicduck" target="_blank">Cosmic Duck</a>, Code by <a href="http://www.trdev.co.uk" target="_blank">kalleth</a></div>			
      </div>
    </div>
    <div id="news_container">
      <ul>
        <% @events.each do |event| %>
          <li class="news_item <%= event.etype.downcase %>">
          <div class="icon" title="<%= event.etype %>"></div>
          <p class="news_title">
          <% if event.etype == "NEWS" %>
            <a href="<%= event.uid %>" target="_blank"><%= event.title %></a>
          <% else %>
            <%= raw event.title %>
          <% end %>
          </p>
          <p class="time">
          <time class="timeago" data-title="<%= event.happened_at.strftime("%d/%m/%y %H:%M") %>" datetime="<%= event.happened_at %>">
              <%= shorter_time_ago_in_words(event.happened_at) %>
            </time>
          </p>
          <p class="news_body">
          <%= raw event.description %>
          </p>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
